<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.admin.mapper.UserMapper">
    <sql id="commonSelect">
        select user_name, id, create_time, user_phone, dept_id, sex
        from study_java.user
    </sql>
    <update id="update2">
        update study_java.user
        <set>
            <if test="userName != null">
                user_name=#{userName},
            </if>
            <if test="userPhone != null">
                user_phone=#{userPhone},
            </if>
            <if test="deptId != null">
                dept_id=#{deptId},
            </if>
            <if test="sex != null">
                sex=#{sex}
            </if>
        </set>
        where id = #{id}
    </update>


    <select id="getUserlist" resultType="com.example.mybatis.admin.User">
#     select * select*对性能影响很严重，不推荐使用
#         select user_name, id, create_time, user_phone, dept_id, sex
#         from study_java.user
<include refid="commonSelect"></include>

   <where>
    <if test="userName != null">
     user_name like concat('%', #{userName}, '%')
    </if>
    <if test="sex != null">
      and sex = #{sex}
    </if>
    <if test="startTime != null and endTime != null">
      and create_time between #{startTime} and #{endTime}
    </if>
   </where>
    order by create_time
</select>

    <delete id="deleteByIds">
        # 遍历，collection遍历的集合。
        # item遍历出来的元素，
        # separator 分隔符
        # open 便利开始前拼接的sql片段
        # close 遍历结束后拼接的sql字段
        # ids片段(107,108)
        delete from study_java.user where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>